body {
    background: red;
}

p {
    color: blue;
}

li {
    color:aquamarine;
    text-align: center;
}

h1, h2{
    text-align: center;
}

img{
    display: block;
    border-radius: 10%;
    border-style: solid;
    margin: auto;
    width: 50%;
}